<!DOCTYPE html>
<html class="gr__leafletjs_com">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Heart Disease Mortality Data Among US Adults (population age 35+)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="https://leafletjs.com/examples/choropleth/docs/images/favicon.ico">
	<link rel="stylesheet" href="/static/leaflet.css" crossorigin="">
	<!-- integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" -->
	<script src="/static/leaflet.js" crossorigin=""></script>
	<!-- integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" -->
	<script src="/static/d3.js"></script>


	<style>
		html, body {
			height: 100%;
			margin: 10;
		}
	</style>

	<style type="text/css">
		/* copied from lab 6 - Dennis */
		#tooltip {
			position: absolute;
			width: 200px;
			height: auto;
			padding: 10px;
			background-color: white;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
			box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
			pointer-events: none;
		}

		#tooltip.hidden {
			display: none;
		}

		#tooltip p {
			margin: 0;
			font-family: sans-serif;
			font-size: 16px;
			line-height: 20px;
		}
	</style>



	<style>#map { width: 75%; height: 60%; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 2px; opacity: 0.7; } .queue {padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px;}
</style>
	<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>

</head>

<body data-gr-c-s-loaded="true">
	<!-- #################################### TOP OF PAGE ############################################################################## -->
	<div>
		<h4>US Heart Disease Mortality rate</h4>
	</div>
	<div id="map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;"></div>
	<!-- #################################### BOTTOM OF PAGE ############################################################################## -->
	<div id="bottomofpage"></div>
	<!-- #################################### bottomer? of page ############################################################################## -->
	<!-- copied from lab 6 - Dennis Shen -->
	<div id="tooltip" class="hidden">
		<p><strong><span id="tooltipLabel">Important Label Heading</span></strong></p>
		<p><span id="value">100</span></p>
	</div>

	<div id ="graphButtons"><button type="button" id="refreshGraph">Refresh Graph</button><button type="button" id = "sortGraph">sort graph</button></div>


	<!-- #################################### SCRIPTS ############################################################################## -->
	<!-- source: https://leafletjs.com/examples/choropleth/ -->
	<script type="text/javascript" src="/static/us-states.js"></script>

	<!-- this is the data from the data.gov -->
	<script type="text/javascript" src="/static/data_as_json.js"></script>

	<!-- this is the data from http://eric.clst.org/tech/usgeojson/ -->
	<script type="text/javascript" src="/static/gz_2010_us_050_00_20m.js"></script>


	<script type="text/javascript">
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// define the window of the map that can be viewed
		// this function stops the map from going past US and US
		var json_data = heart_disease_data.data;
		var geojson;
		var geojson_county;
		// default values for race and gender
		var race = "Overall";
		var gender = "Overall";
		var selection_count = 0;
		var selection_max = 2;
		var zoom_state_county_split = 6.0;
		var map_type_level = "state";
		var current_zoom = 4;
		// contains the list of states that have been clicked on, only two states are allowed to be selected at a timeout
		// selecting additional state will override previous selections
		var selection_list = [];

		function return_avg(array) {
			// find the average from a list, return the average only if the length of the array is more than 0
			var sum, avg = 0;
			if (array.length != 0) {
				sum = array.reduce(function(a, b) {
					return a + b;
				});
				avg = sum / array.length;
				return Math.round(avg);
			} else {
				return "Insufficient information";
			}

		}

		// get color depending on population density value
		function return_Color(d) {
			return d > 450 ? '#210009' :
				d > 400 ? '#560019' :
				d > 350 ? '#800026' :
				d > 300 ? '#BD0026' :
				d > 250 ? '#E31A1C' :
				d > 200 ? '#FC4E2A' :
				d > 150 ? '#FD8D3C' :
				d > 100 ? '#FEB24C' :
				d > 50 ? '#FED976' :
				'#FFEDA0';
		}

		function return_state_information(state_name, gender, race) {
			// return information about the state's heart disease mortality rate
			var mort_rate_val = 0;
			for (var i = 0; i < json_data.length; i++) {
				// make sure that correct state is being looked at, and race / gender are both reporting overall
				if (json_data[i][9] === state_name && json_data[i][11] === "State" && json_data[i][21] === gender && json_data[i][23] === race) {
					// GeographicalLevel = "State"
					mort_rate_val = json_data[i][15];
					break;
				}
			}
			// return the rounded value
			if (mort_rate_val < 1) {
				return_str = "Insufficient information";
			} else {
				return_str = Math.round(mort_rate_val) + "/100K people";
			}
			return [return_str, mort_rate_val];
		};



		function return_county_information(county, gender, race) {
			// return information about the state's heart disease mortality rate
			var mort_rate_val = 0;
			for (var i = 0; i < json_data.length; i++) {
				// make sure that correct state is being looked at, and race / gender are both reporting overall
				if (json_data[i][10].includes(county) && json_data[i][11] === "County" && json_data[i][21] === gender && json_data[i][23] === race) {
					// GeographicalLevel = "State"
					mort_rate_val = json_data[i][15];
					break;
				}
			}
			// return the rounded value
			if (mort_rate_val < 1) {
				return_str = "Insufficient information";
			} else {
				return_str = Math.round(mort_rate_val) + "/100K people";
			}
			return [return_str, mort_rate_val];
		};


		var southWest = L.latLng(5, -175),
			northEast = L.latLng(80, -25),
			mybounds = L.latLngBounds(southWest, northEast);
		// setview 4 zoom and coordinates to middle of United States
		var map = L.map('map', {
			// enable smoother map zooming level
			zoomDelta: 0.25,
			zoomSnap: 0,
			wheelPxPerZoomLevel: 200
			//scrollWheelZoom: false
		}).setView([37.8, -98], current_zoom).setMaxBounds(mybounds);

		map.on('zoomend', function() {
			//console.log(map.getZoom());
			if (map.getZoom() >= zoom_state_county_split && map_type_level != "county") {
				map.removeLayer(geojson);
				map.addLayer(geojson_county);
				//     //reload_geojson_county();
				map_type_level = "county";
			} else if (map.getZoom() <= zoom_state_county_split && map_type_level != "state") {
				map.removeLayer(geojson_county);
				map.addLayer(geojson);
				// 		//reload_geojson();
				map_type_level = "state";
			}
		});

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
			// define the min Zoom so the user doesn't see a grey background
			maxZoom: 10,
			minZoom: 2,
			attribution: 'Map data: <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors ',
			id: 'mapbox.light',
			scrollWheelZoom: false
		}).addTo(map);
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// Info shows the state information to the user in the top right side of the map
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		var info = L.control();

		info.onAdd = function(map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function(props) {
			this._div.innerHTML = '<h4>US Heart Disease Mortality rate</h4>' + (props ?
				'<b>' + 'State: ' + props.name + '</b><br />' + 'Density: ' + Math.round(props.density) + ' people / mi<sup>2</sup>' + '</b><br />' + 'Mortality rate: ' + return_state_information(props.abbreviation, gender, race)[0] :
				'Hover over a state to learn more!');
			document.getElementById("bottomofpage").innerHTML = 'Now hovered over: ' + (props ? '<b>' + props.name : 'Nowhere');
		};
		info.addTo(map);

		info.update_county = function(props) {
			this._div.innerHTML = '<h4>US Heart Disease Mortality rate</h4>' + (props ?
				'<b>' + 'County: ' + props.NAME + '</b><br />' + 'Mortality rate: ' + return_county_information(props.NAME, gender, race)[0] :
				'Hover over a county to learn more!');
			document.getElementById("bottomofpage").innerHTML = 'Now hovered over: ' + (props ? '<b>' + props.NAME : 'Nowhere');
		};
		info.addTo(map);


		function highlightFeature(e) {
			var layer = e.target;
			layer.setStyle({
				weight: 6,
				color: 'white',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
				layer.bringToFront();
			}
			info.update(layer.feature.properties);
		}

		function highlightCountyFeature(e) {
			var layer = e.target;
			layer.setStyle({
				weight: 6,
				color: 'white',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
				layer.bringToFront();
			}
			info.update_county(layer.feature.properties);
		}

		function resetHighlight(e) {
			geojson.resetStyle(e.target);
			info.update();
		}

		function resetHighlightCounty(e) {
			geojson_county.resetStyle(e.target);
			info.update();
		}

		// this is what happens when a state is clicked on
		function click_event_handler(e) {
			zoomToFeature(e);
			var layer = e.target;
			state = e.target.feature.properties.name;
			layer.setStyle({
				weight: 6,
				color: 'white',
				dashArray: '',
				fillOpacity: 0.7,
				fillColor: 'blue'
			});
			if (selection_count < selection_max) {
				if (!selection_list.includes(state)) {
					selection_count += 1;
					selection_list.push(state);
				} else {
					//alert(state + " is already in the list");
				}
			} else {
				selection_count = 1;
				selection_list.length = 0;
				selection_list.push(state);
			}
			// update the queue with the selection
			queue.update();
		}

		function onEachFeature(feature, layer) {
			// state level
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: click_event_handler
			});
		};

		function onEachCountyFeature(feature, layer) {
			// county level
			layer.on({
				mouseover: highlightCountyFeature,
				mouseout: resetHighlightCounty
			});
		};

		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}

		function style(feature) {
			var temp = return_state_information(feature.properties.abbreviation, gender, race)[1];
			return {
				weight: 3,
				opacity: 1,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.7,
				fillColor: return_Color(temp)
			};
		};

		function county_style(feature) {
			var temp = return_county_information(feature.properties.NAME, gender, race)[1];
			return {
				weight: 1,
				opacity: 1,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.5,
				fillColor: return_Color(temp)
			};
		};

		function zoomToFeature(e) {
			var layer = e.target;
			//map.fitBounds(e.target.getBounds());
			//map.removeLayer(layer);
		}

		// for each feature in the geojson file, set the style and add it to the map
		geojson = L.geoJson(statesData, {
			style: style,
			onEachFeature: onEachFeature
		}).addTo(map);

		function load_county_data() {
			geojson_county = L.geoJson(countyData, {
				style: county_style,
				onEachFeature: onEachCountyFeature
			})
		}

		setTimeout(load_county_data, 0);

		map.attributionControl.addAttribution('Heart disease data: <a target="_blank" href="https://catalog.data.gov/dataset/heart-disease-mortality-data-among-us-adults-35-by-state-territory-and-county-5fb7c">US Heart Disease Mortality Data</a>');

		//
		function reload_geojson() {
			geojson.eachLayer(async function(layer) {
				// get the current color of the respective layer
				var existing_color = layer.options.fillColor;
				var return_style;
				// get the new color based on the selection of the data
				return_style = style(layer.feature);
				//console.log('State: ' + layer.feature.properties.name + ' Existing fill color' + existing_color + ' - ' + return_style.fillColor);
				if (existing_color != return_style.fillColor) {
					// if the existing color does not match the new color that will be applied to the layer
					// signal to the user by changing the outline of the state in a blinking red and white fashion
					// sleep the change for 250 ms seconds so users will be able to register
					sleep_time = 150;
					number_of_blinks = 4;
					for (var i = 0; i < number_of_blinks; i++) {
						layer.setStyle({
							color: 'red'
						});
						await sleep(sleep_time);
						layer.setStyle({
							color: 'white'
						});
						i < number_of_blinks - 1 ? await sleep(sleep_time) : 'nothing';
					}
				};
				layer.setStyle(return_style);
			});
		}


		function reload_geojson_county() {
			geojson_county.eachLayer(async function(layer) {
				// get the current color of the respective layer
				// get the new color based on the selection of the data
				var existing_color = layer.options.fillColor;
				var return_style;
				// get the new color based on the selection of the data
				return_style = county_style(layer.feature);
				//console.log('State: ' + layer.feature.properties.name + ' Existing fill color' + existing_color + ' - ' + return_style.fillColor);
				if (existing_color != return_style.fillColor) {
					// if the existing color does not match the new color that will be applied to the layer
					// signal to the user by changing the outline of the state in a blinking red and white fashion
					// sleep the change for 250 ms seconds so users will be able to register
					sleep_time = 100;
					number_of_blinks = 4;
					for (var i = 0; i < number_of_blinks; i++) {
						layer.setStyle({
							color: 'red'
						});
						await sleep(sleep_time);
						layer.setStyle({
							color: 'white'
						});
						i < number_of_blinks - 1 ? await sleep(sleep_time) : 'nothing';
					}
				};
				layer.setStyle(return_style);
			});
		}
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// Dropdown allows the user to make a selection to view the data by race or gender
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		var dropdown = L.control({
			position: 'bottomright'
		});

		dropdown.onAdd = function(e) {
			// add some values to the dropdown
			this._div = L.DomUtil.create('div', 'info');
			this._div.innerHTML = '<h4>Race / Gender interaction</h4>' + 'Gender - ' + '<select id="dd_gender" onchange="change_map()"><option>Overall</option><option>Female</option><option>Male</option></select>' +
				'<br />' + 'Race - ' + '<select id="dd_race" onchange="change_map()"><option>Overall</option><option>White</option>' +
				'<option>Black</option><option>Asian and Pacific Islander</option><option>American Indian and Alaskan Native</option><option>Hispanic</option></select>';
			this._div.firstChild.onmousedown = this._div.firstChild.ondblclick = L.DomEvent.stopPropagation;
			return this._div;
		};

		window.change_map = function(e) {
			// Get the select element from the dropdowns for the race/gender interaction
			var gen = document.getElementById("dd_gender");
			var rac = document.getElementById("dd_race");
			// record the values to the global variables
			gender = gen.value;
			race = rac.value;
			setTimeout(function() {
				drop_down_operator(true);
			}, 0);
			setTimeout(reload_geojson(), 10);
			setTimeout(reload_geojson_county(), 20);
			setTimeout(function() {
				drop_down_operator(false);
			}, 1800);
		};
		function drop_down_operator(bool_val) {
			document.getElementById("dd_gender").disabled = bool_val;
			document.getElementById("dd_race").disabled = bool_val;
		};
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// Queue displays the states that the user selects by clicking, currently there can be only two states in the queue at a time
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		var queue = L.control({
			position: 'topcenter'
		});

		queue.onAdd = function(e) {
			// Initially, make the div invisible to the user
			this._div = L.DomUtil.create('div', 'info');
			this._div.style.opacity = "0.0";
			return this._div;
		}

		queue.update = function(props) {
			// show the div if the user clicks any state and wants to add it to the queue
			// set the opacity of the div to 1.0
			this._div.style.opacity = "1.0";
			s = this._div.style;
			// update the contents of the div
			this._div.innerHTML = '<b>Items in the selection queue: ' + selection_list + '</b>';
			// provide smooth fadeout effect to the div
			fade_Out_Effect(this._div);
		}

		function fade_Out_Effect(div) {
			// decrease the opacity of the div by 0.01 every 20 ms, to provide a smooth fadeout effect
			var fadeEffect = setInterval(function() {
				if (!div.style.opacity) {
					div.style.opacity = 1;
				}
				if (div.style.opacity > 0) {
					div.style.opacity -= 0.01;
				} else {
					clearInterval(fadeEffect);
				}
			}, 20);
		}
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// Legend displays the color of the states that is corresponding to the mortaility rate
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		var legend = L.control({
			position: 'bottomleft'
		});

		legend.onAdd = function(map) {
			// create a div with legend styling
			var legend_div = L.DomUtil.create('div', 'info legend'),
				// establish different ranges for the grades of mortality rate
				partitions = [0, 50, 100, 150, 200, 250, 300, 350, 400, 450],
				resp_labels = [],
				from, to;
			// define
			for (var i = 0; i < partitions.length; i++) {
				// from is the first range and to is the second
				from = partitions[i];
				to = partitions[i + 1];
				// add to screen
				resp_labels.push(
					'<i style="background:' + return_Color(from + 1) + '"></i> ' +
					from + (to ? '&ndash;' + to : '+'));
			}
			legend_div.innerHTML = resp_labels.join('<br>');
			return legend_div;
		};
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


		// add legend to map
		legend.addTo(map);
		// add dropdown to the map
		dropdown.addTo(map);
		// add queue to the map
		queue.addTo(map);
		// disable double click from zooming in the map
		map.doubleClickZoom.disable();

		var body = document.getElementsByTagName('body')[0]
		var w = Math.round(body.clientWidth*0.7);
		var h = Math.round(body.clientHeight*0.3);

		function get_state_abbreviation(state_name){
			for(let i = 0; i < json_data.length; i++){
				if(json_data[i][10] === state_name && json_data[i][11] == "State"){
					return json_data[i][9];
				}
			}
			let str = "could not find state with name " + state_name;
			console.log(str);
			return str;
		};

		// a list that contains the name, state vs county type and mortality rate
		function get_county_data_of_state(state_abbreviation, gender, race){
			var data = [];
			for(let i = 0; i < json_data.length; i++){
				if(json_data[i][9] === state_abbreviation && json_data[i][21] === gender && json_data[i][23] === race){
					data.push({county: json_data[i][10], type: json_data[i][11], mort_rate: json_data[i][15]});
				}
			}
			if(data.length === 0){
				console.log('did not find any state/counties with matching state abbreviation ' + state_abbreviation);
			}
			return data;
		};

		function update_bars(county_data_of_state){
			// update scales
			xScale.domain(d3.range(county_data_of_state.length));
			yScale.domain([0, d3.max(county_data_of_state, function(d) { return d.mort_rate; })]);
			colorScale.domain([0, d3.max(county_data_of_state, function(d) { return d.mort_rate; })]);

			//Update all rects
			var bars = svg.selectAll("rect").data(county_data_of_state);

			bars.enter().append("rect")
				.merge(bars)
				.attr("x", function(d, i) {
						return xScale(i);
				})
				.attr("y", function(d) {
						return h - yScale(d.mort_rate)+5;
				})
				.attr("width", xScale.bandwidth())
				.attr("height", function(d) {
						return yScale(d.mort_rate);
				})
				.attr("fill", function(d) {
						if(d.type === "State"){
							return "green";
						}
						return "rgb(0, 0, " + Math.round(colorScale(d.mort_rate)) + ")";

				})
				.on("mouseover", function(d) {

					//Get this bar's x/y values, then augment for the tooltip
					var xPosition = parseFloat(d3.select(this).attr("x")) + xScale.bandwidth() / 2;
					//var yPosition = parseFloat(d3.select(this).attr("y")) / 2 + h / 2;

					//Update the tooltip position and value
					d3.select("#tooltip")
					.style("left", (w+10) + "px")
					//.style("top", yPosition + "px")
					.select("#value")
					.text(d.mort_rate + "/100K");

					d3.select("#tooltip").select("#tooltipLabel").text(d.county)

					//Show the tooltip
					d3.select("#tooltip").classed("hidden", false);

				})
				.on("mouseout", function() {
					//Hide the tooltip
					d3.select("#tooltip").classed("hidden", true);

				});
			// remove old bars
			bars.exit().remove();
		};

		// should be sorted alphabetcally by default
		var sortOrder = false;

		// switch between sorting alphabetically and by mort rate
		function sort_bars(){
			sortOrder = !sortOrder;
			svg.selectAll("rect")
				.sort(function(a, b){
					if(sortOrder){
						return d3.descending(a.mort_rate, b.mort_rate);
					}else{
						return d3.ascending(a.county, b.county);
					}
				})
				.transition("sort_bars")
				.delay(300)
				.duration(1500)
				.attr("x", function(d, i){
					return xScale(i);
				});
		};

		d3.select("#graphButtons")
		.select("#refreshGraph")
		.on("click", function() {

			if(selection_list.length > 0){
				//New values for dataset
				var state_abbreviation = get_state_abbreviation(selection_list[selection_list.length-1]);
				county_data_of_state = get_county_data_of_state(state_abbreviation, gender, race);
				update_bars(county_data_of_state);
				sortOrder = false;
			}
		});

		d3.select("#graphButtons")
		.select("#sortGraph")
		.on("click", function() {
			sort_bars();
		});


		var county_data_of_state = get_county_data_of_state("MA", gender, race);

		// returns an array of d3 scales to use with the county_data_of_state dataset
		var xScale = d3.scaleBand()
					.domain(d3.range(county_data_of_state.length))
					.rangeRound([0, w])
					.paddingInner(0.05);

		var yScale = d3.scaleLinear()
						.domain([0, d3.max(county_data_of_state, function(d) { return d.mort_rate; })])
						.range([15, h]);

		var colorScale = d3.scaleLinear()
						.domain([0, d3.max(county_data_of_state, function(d) { return d.mort_rate; })])
						.range([0,255]);



		var svg = d3.select("body")
					.append("svg")
					.attr("width", w)
					.attr("height", h)
					.append("g");

		update_bars(county_data_of_state);
	</script>

</body>

</html>
